.container {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(15, 28, 87);
  color: white;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  color: black;
}

.title{
  color: white;
  font-size: 2em;
  margin: 10px 0;
}